<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h1 class="display-4">Profile</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="firstname">Name</h5>
        <p>{{person.name}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="lastName">Last Name</h5>
        <p>{{person.lastName}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="gender">Gender</h5>
        <img class="gender" [src]=getGenderImage()>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="gender">Age</h5>
        <ngx-charts-linear-gauge [view]="view" [scheme]="scheme" [value]="person.age" [previousValue]="100" [min]="0" [max]="100"
          [units]="'years'">
          </ngx-charts-linear-gauge>
      </div>
    </div>
  </div>
</div>