<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h1 class="display-4">Profile</h1>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="firstname">Nombres</h5>
        <label class="form-control" name="firstname">{{person.name}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="lastName">Apellidos</h5>
        <label class="form-control" name="lastName">{{person.lastName}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="gender">Genero</h5>
        <label class="form-control" name="gender">{{person.gender}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5 class="text-left" for="gender">Edad</h5>
        <label class="form-control" name="age">{{person.age}}</label>
      </div>
    </div>
  </div>
</div>