<hr />
<div class="row">
  <div class="col-md-12">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
   <div class="col-md-2">
      <div class="bs-example" data-example-id="contextual-table">
        <table class="table table-sm  table-bordered">
          <thead class="thead-inverse">
            <tr class="text-center">
              <th class="text-center">Concept</th>
              <th class="text-center">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="square-container">
                <label>Mean</label>
              </td>
              <td><label>{{routine.mean}}</label></td>
            </tr>
            <tr>
              <td class="square-container">
                <label>Median</label>
              </td>
              <td><label>{{routine.median}}</label></td>
            </tr>
            <tr>
              <td class="square-container">
                <label>Mode</label>
              </td>
              <td><label>{{routine.mode}}</label></td>
            </tr>
            <tr>
              <td class="square-container">
                <label>Result</label>
              </td>
              <td><label>{{routine.angle}}</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!--<div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>-->
</div>